repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0  # Use the latest stable version of Black
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: [--profile, black]

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
