fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
pymongo
motor
firebase-admin
python-dotenv
bcrypt
email-validator
pytest
pytest-asyncio
httpx
mongomock-motor
pytest-env
pytest-cov
pytest-mock
slowapi
